pipeline/pl_emails_join.json
{
	"name": "pl_emails_join",
	"properties": {
		"activities": [
			{
				"name": "Lookup_email_join",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_emails",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_email",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_email_join",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_email_join').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Emails_array",
								"value": {
									"value": "@item().Email",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set Email arry",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach_email",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Email_string",
					"value": {
						"value": "@join(variables('Emails_array'),';')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Emails_array": {
				"type": "Array"
			},
			"Email_string": {
				"type": "String"
			}
		},
		"annotations": []
	}
}