pipeline/pl_emils.json
{
	"name": "pl_emils",
	"properties": {
		"activities": [
			{
				"name": "Lookupemails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_emails",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachEmail",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookupemails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookupemails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "set Emails",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "tmp variables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Emails",
								"value": {
									"value": "@variables('tempemails')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "tmp variables",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "tempemails",
								"value": {
									"value": "@concat(item().email.';',variables('Emails'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Emails": {
				"type": "String"
			},
			"tempemails": {
				"type": "String"
			}
		},
		"annotations": []
	}
}